<a href="https://colab.research.google.com/github/ruhaan0001/CognitiveComputing/blob/main/ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assingment 1.1: WAP to print your name three times

In [1]:
print(3* "Ruhaan ")

Ruhaan Ruhaan Ruhaan

Assingment 2.1: WAP to add three numbers and print the result.

In [2]:
num1 = 10
num2 = 20
num3 = 30
result = num1 + num2 + num3
print("The sum of the three numbers is:", result)

The sum of the three numbers is: 60

Assingment 2.2: WAP to concatinate three strings and print the result.

In [4]:
str1 = "Hello"
str2 = "World"
str3 = "Ruhaan"
result = str1 + " " + str2 + " " + str3
print("The concatenated string is:", result)

The concatenated string is: Hello World Ruhaan

Assingment 4.1: WAP to print the table of 7, 9.

In [5]:
print("Table of 7:")
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

print("\nTable of 9:")
for i in range(1, 11):
    print(f"9 x {i} = {9 * i}")

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Assingment 4.2: WAP to print the table of n and n is given by user.

In [6]:
n = int(input("Enter a number to print its table: "))
print(f"Table of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number to print its table: 5
Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [7]:
n = int(input("Enter a number: "))
total = sum(range(1, n + 1))
print(f"The sum of all numbers from 1 to {n} is: {total}")

Enter a number: 7
The sum of all numbers from 1 to 7 is: 28

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [8]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

maximum = max(num1, num2, num3)
print(f"The maximum among the three numbers is: {maximum}")

Enter the first number: 3
Enter the second number: 4
Enter the third number: 5
The maximum among the three numbers is: 5.0

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [10]:
n = int(input("Enter a number: "))
total = sum(i for i in range(1, n + 1) if i % 7 == 0 and i % 9 == 0)
print(f"The sum of all numbers divisible by 7 and 9 from 1 to {n} is: {total}")

Enter a number: 63
The sum of all numbers divisible by 7 and 9 from 1 to 63 is: 63

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [11]:
n = int(input("Enter a number: "))

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

total = sum(i for i in range(1, n + 1) if is_prime(i))
print(f"The sum of all prime numbers from 1 to {n} is: {total}")

Enter a number: 71
The sum of all prime numbers from 1 to 71 is: 639

Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [12]:
def sum_odd_numbers(n):
    total = sum(i for i in range(1, n + 1) if i % 2 != 0)
    return total

n = int(input("Enter a number: "))
result = sum_odd_numbers(n)
print(f"The sum of all odd numbers from 1 to {n} is: {result}")

Enter a number: 31
The sum of all odd numbers from 1 to 31 is: 256

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [14]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_prime_numbers(n):
    total = sum(i for i in range(1, n + 1) if is_prime(i))
    return total

n = int(input("Enter a number: "))
result = sum_prime_numbers(n)
print(f"The sum of all prime numbers from 1 to {n} is: {result}")

Enter a number: 65
The sum of all prime numbers from 1 to 65 is: 501