<a href="https://colab.research.google.com/github/ruhaan0001/CognitiveComputing/blob/main/ass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

i. WAP to add 200 and 300 to L.

In [ ]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

ii. WAP to remove 10 and 30 from L.

In [ ]:
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iii. WAP to sort L in ascending order.

In [ ]:
L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iv. WAP to sort L in descending order.

In [ ]:
L.sort(reverse=True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:

i. Identify the highest score and its index in the tuple.

In [ ]:
T=(45,89.5,76,45.4,89,92,58,45)
x=max(T)
print(x)
T.index(x)

92

5

ii. Find the lowest score and count how many times it appears.

In [ ]:
y=min(T)
print(y)
print(T.count(y))

iii. Reverse the tuple and return it as a list.

In [ ]:
nT=T[::-1]
list(nT)

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
if 76 in T:
    print(T.index(76))
else:
    print("It’s not present")

2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:

i. All odd numbers

ii. All even numbers

iii. All prime numbers

In [ ]:
import random as r
import sympy as s
L=r.sample(range(100,900),100)
print(L)
l1=[x for x in L if not x%2==0]
l2=[x for x in L if x%2==0]
l3=[x for x in L if s.isprime(x)]
print("\n")
print(l1)
print("\n")
print(l2)
print("\n")
print(l3)

[431, 357, 775, 141, 280, 279, 851, 446, 213, 256, 323, 305, 136, 130, 844, 553, 414, 471, 476, 774, 317, 264, 765, 805, 494, 787, 238, 555, 510, 343, 503, 326, 629, 430, 382, 495, 753, 330, 564, 246, 706, 780, 336, 345, 507, 409, 743, 819, 103, 535, 820, 435, 459, 221, 244, 531, 702, 651, 110, 650, 878, 642, 500, 222, 148, 188, 838, 137, 192, 754, 766, 786, 321, 818, 218, 551, 470, 341, 559, 448, 701, 122, 200, 748, 111, 245, 400, 490, 492, 297, 867, 894, 234, 472, 261, 648, 463, 730, 890, 139]


[431, 357, 775, 141, 279, 851, 213, 323, 305, 553, 471, 317, 765, 805, 787, 555, 343, 503, 629, 495, 753, 345, 507, 409, 743, 819, 103, 535, 435, 459, 221, 531, 651, 137, 321, 551, 341, 559, 701, 111, 245, 297, 867, 261, 463, 139]


[280, 446, 256, 136, 130, 844, 414, 476, 774, 264, 494, 238, 510, 326, 430, 382, 330, 564, 246, 706, 780, 336, 820, 244, 702, 110, 650, 878, 642, 500, 222, 148, 188, 838, 192, 754, 766, 786, 818, 218, 470, 448, 122, 200, 748, 400, 490, 492, 894, 234, 472, 648, 730, 890]


[431, 317, 787, 503, 409, 743, 103, 137, 701, 463, 139]

Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:

i. Find the unique scores achieved by both teams (union of sets).

ii. Identify the scores that are common to both teams (intersection of sets).

iii. Find the scores that are exclusive to each team (symmetric difference).

iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.

v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))
print("\n")
print(A.intersection(B))
print("\n")
print(A.symmetric_difference(B))
print("\n")
if A.issubset(B):
    print("A is subset of B")
if B.issuperset(A):
    print("B is superset of A")
n=float(input('Enter score to check'))
if n in A:
    A.remove(n)
    print(A)
else:
    print(n,' is not present in A')

{34, 45, 78, 23, 56, 90}


{90, 78}


{34, 45, 23, 56}

Enter score to check 44

44.0  is not present in A

5. Write a program to rename a key city to a location in the following dictionary.

In [ ]:
D={
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New york"
}
D['location']=D['city']
del D['city']
print(D)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}