<a href="https://colab.research.google.com/github/ruhaan0001/CognitiveComputing/blob/main/ass3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1 Create a dataset as follow in the table.

In [1]:
import pandas as pd;
data = {"Tid" : [1,2,3,4,5,6,7,8,9,10],
        "Refund" : ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
        "Marital Status" : ["Single","Married","Single","Married","Divorced","Married","Divorce","Single","Married","Single"],
        "Taxable Income" : ["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"],
        "Cheat" : ["No","No","No","No","Yes","No","No","Yes","No","Yes"]
};
df = pd.DataFrame(data);
print(df);

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes        Divorce           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

Q.2 From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame.

In [2]:
import pandas as pd;
data = {"Tid" : [1,2,3,4,5,6,7,8,9,10], "Refund": ["Yes","No","No","Yes","No","No","Yes","No","No","No"],
"Marital Status" : ["Single","Married","Single","Married","Divorced","Married","Divorce","Single","Married","Single"],
"Taxable Income" : ["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"], "Cheat" : ["No","No","No","No","Yes","No","No","Yes","No","Yes"]};
df = pd.DataFrame(data);
print(df.iloc[0]);
print(df.iloc[4]);
print(df.iloc[7]);
print(df.iloc[8]);

Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income      125K
Cheat                 No
Name: 0, dtype: object
Tid                      5
Refund                  No
Marital Status    Divorced
Taxable Income         95K
Cheat                  Yes
Name: 4, dtype: object
Tid                    8
Refund                No
Marital Status    Single
Taxable Income       85K
Cheat                Yes
Name: 7, dtype: object
Tid                     9
Refund                 No
Marital Status    Married
Taxable Income        75K
Cheat                  No
Name: 8, dtype: object

Q.3 Navigate the DataFrame and do the following task for the table created in question 1:
1. Select row from index 3 to 7.
2. Select row from index 4 to 8, and column 2 to 4.
3. Select all rows with column index 1 to 3 (include index 3 during selection).

In [3]:
import pandas as pd;
data = {"Tid" : [1,2,3,4,5,6,7,8,9,10], "Refund": ["Yes","No","No","Yes","No","No","Yes","No","No","No"],
"Marital Status" : ["Single","Married","Single","Married","Divorced","Married","Divorce","Single","Married","Single"],
"Taxable Income" : ["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"], "Cheat" : ["No","No","No","No","Yes","No","No","Yes","No","Yes"]};
df = pd.DataFrame(data);
print(df.iloc[3:8]);
print(df.iloc[4:9,2:5]);
print(df.iloc[:,1:4]);

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes        Divorce           220K    No
7    8     No         Single            85K   Yes
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6        Divorce           220K    No
7         Single            85K   Yes
8        Married            75K    No
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes        Divorce           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

Q.4 Read a csv file and display its first five rows.

In [ ]:
import pandas as pd;
df = pd.read_csv('C:/Users/Ruhaan/Downloads/archive/Iris.csv')
print(df);

Q.5 From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the
result.

In [ ]:
import pandas as pd;
df = pd.read_csv('C:/Users/Ruhaan/Downloads/archive/Iris.csv');
df.drop(3,axis = 0, inplace = True);
df.drop(df.columns[2], axis = 1, inplace = True);
print(df);

Q.6 Create a sample dataset (employees.csv) containing information about employees in
a company.
WAP to determine the following using dataset in Q6:
a) Shape (number of rows and columns) of the DataFrame.
b) Summary of the DataFrame that includes the data types and non-null counts for
each column.
c) Generate descriptive statistics.
d) Display the first 5 rows and last 3 rows of the dataset.
e) Calculate the following statistics from the dataset:
i. The average salary of employees.
ii. The total bonus paid to all employees.
iii. The youngest employee's age.
iv. The highest performance rating.

f) Sort the DataFrame by the Salary column in descending order.
g) Add a new column that categorizes employees based on their performance rating:

i. Excellent for ratings >= 4.5
ii. Good for ratings >= 4.0 but < 4.5
iii. Average for ratings < 4.0
h) Identify missing values in the DataFrame.
i) Rename the Employee_ID column to ID.
j) Find all employees who:

i. Have more than 5 years of experience.
ii. Belong to the IT department.

k) Modify the dataset by adding a new column, Tax, which deducts 10% of the
Salary.
l) Save the modified DataFrame (with added columns) to a new CSV file.

In [16]:
import pandas as pd;
data = {"Employee_ID" : [101,102,103,104,105], "Name" : ["Alice","Bob","Charlie","Diana","Edward"],
        "Department" : ["HR","IT","IT","Marketing","Sales"], "Age" : [29,34,41,28,38],
        "Salary" : [50000,70000,65000,55000,60000],"Year_Of_Experience" : [4,8,10,3,12],
        "Joining_Date" : ["2020-03-15","2017-07-19","2013-06-01","2021-02-10","2010-11-25"],
        "Gender" : ["Female","Male","Male","Female","Male"], "Bonus" : [5000,7000,6000,4500,5000],
        "Rating" : [4.5,4.0,3.8,4.7,3.5]
};
df = pd.DataFrame(data);
print(df.shape);
print(df.info());
print(df.describe());
print(df.head());
print(df.tail(3));
print(df['Salary'].mean());
print(df['Bonus'].sum());
print(df['Age'].min());
print(df['Rating'].max());
print(df.sort_values('Salary',ascending = False));
A = [4.5,4.0,3.8,4.7,3.5];
B = [];
for i in A:
    if(i >= 4.5):
        B.append("Excellent");
    elif(i >= 4.0 and i < 4.5):
        B.append('Good');
    else:
        B.append('Average');
df['Performance'] = B;
print(df);
df.rename(columns={'Employee_ID':'ID'},inplace = True);
experience = df[(df['Year_Of_Experience'] > 5)];
department = df[(df['Department'] == 'IT')];
print(experience);
print(department);
df['Tax'] = df['Salary'] * 0.1;
print(df);
df.to_csv('modified_employee.csv');

(5, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         5 non-null      int64
 1   Name                5 non-null      object
 2   Department          5 non-null      object
 3   Age                 5 non-null      int64
 4   Salary              5 non-null      int64
 5   Year_Of_Experience  5 non-null      int64
 6   Joining_Date        5 non-null      object
 7   Gender              5 non-null      object
 8   Bonus               5 non-null      int64
 9   Rating              5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None
       Employee_ID        Age       Salary  Year_Of_Experience   Bonus  \
count     5.000000   5.000000      5.00000            5.000000     5.0
mean    103.000000  34.000000  60000.00000            7.400000  5500.0
std       1.581139   5.612486   7905.69415            3.847077  1000.0
min     101.000000  28.000000  50000.00000            3.000000  4500.0
25%     102.000000  29.000000  55000.00000            4.000000  5000.0
50%     103.000000  34.000000  60000.00000            8.000000  5000.0
75%     104.000000  38.000000  65000.00000           10.000000  6000.0
max     105.000000  41.000000  70000.00000           12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000
   Employee_ID     Name Department  Age  Salary  Year_Of_Experience  \
0          101    Alice         HR   29   50000                   4
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10
3          104    Diana  Marketing   28   55000                   3
4          105   Edward      Sales   38   60000                  12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
   Employee_ID     Name Department  Age  Salary  Year_Of_Experience  \
2          103  Charlie         IT   41   65000                  10
3          104    Diana  Marketing   28   55000                   3
4          105   Edward      Sales   38   60000                  12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
60000.0
27500
28
4.7
   Employee_ID     Name Department  Age  Salary  Year_Of_Experience  \
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10
4          105   Edward      Sales   38   60000                  12
3          104    Diana  Marketing   28   55000                   3
0          101    Alice         HR   29   50000                   4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5
   Employee_ID     Name Department  Age  Salary  Year_Of_Experience  \
0          101    Alice         HR   29   50000                   4
1          102      Bob         IT   34   70000                   8
2          103  Charlie         IT   41   65000                  10
3          104    Diana  Marketing   28   55000                   3
4          105   Edward      Sales   38   60000                  12

  Joining_Date  Gender  Bonus  Rating Performance
0   2020-03-15  Female   5000     4.5   Excellent
1   2017-07-19    Male   7000     4.0        Good
2   2013-06-01    Male   6000     3.8     Average
3   2021-02-10  Female   4500     4.7   Excellent
4   2010-11-25    Male   5000     3.5     Average
    ID     Name Department  Age  Salary  Year_Of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                   8   2017-07-19
2  103  Charlie         IT   41   65000                  10   2013-06-01
4  105   Edward      Sales   38   60000                  12   2010-11-25

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average
4   Male   5000     3.5     Average
    ID     Name Department  Age  Salary  Year_Of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                   8   2017-07-19
2  103  Charlie         IT   41   65000                  10   2013-06-01

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average
    ID     Name Department  Age  Salary  Year_Of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                   4   2020-03-15
1  102      Bob         IT   34   70000                   8   2017-07-19
2  103  Charlie         IT   41   65000                  10   2013-06-01
3  104    Diana  Marketing   28   55000                   3   2021-02-10
4  105   Edward      Sales   38   60000                  12   2010-11-25

   Gender  Bonus  Rating Performance     Tax
0  Female   5000     4.5   Excellent  5000.0
1    Male   7000     4.0        Good  7000.0
2    Male   6000     3.8     Average  6500.0
3  Female   4500     4.7   Excellent  5500.0
4    Male   5000     3.5     Average  6000.0